.grid {
    display: grid;
    /* gap: 9rem; */
    height:100vh;
    background-color: rgb(193, 181, 181);
  }
  .grid-two-column {
    grid-template-columns: repeat(2, 1fr);
  }
.item1{
    background: #d4cfcf;
    height:100vh;

    margin:15px;
    
}
.item2{
    background-color: rgb(234, 253, 247);
}
.container{
    background-color: rgb(187, 177, 177);
    /* gap: 5rem;  */
}
.img{
    border-radius: 50%;
    height:5rem;
    width:5rem;
}
.dot{
    margin-left:35rem;
    height:1.5rem;
    width:1rem;
}
#search{
    width:50vw;
    border-radius: 30px;
    margin: 5px;
    height:2.5rem;
}
.fas{
    position:relative;
    bottom:35px;
    left:30rem;
}